{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock 'head' %}

{% block 'titulo' %} Cadastre-se {% endblock 'titulo' %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img src="{% static 'autenticacao/img/logo.png' %}" class="img_logo_sidebar">IMOBI
                    </h2>
                </div>

                <div class="corpo_sidebar">
                    <div>
                        <h2 class="titulo cor-branca">Cadastre-se</h2>
                    </div>

                    <div>
                        <p class="cor-branca descricao">As melhores casas</p>
                        <p style="margin-top:-20px;" class="cor-branca descricao">Nos melhores preços</p>
                        <br>
                        <br>
                        <a href="" class="btn_logar">LOGAR</a>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                <div class="area_cadastrar">
                    <form action="" method="">
                        <h2 class="titulo_area_cadastrar">Cadastre-se</h2>
                        <br>
                        <input name="username" type="text" class="input_cadastrar input_cadastrar_nome" placeholder="Username...">
                        <br>
                        <br>
                        <input name="email" type="text" class="input_cadastrar input_cadastrar_email" placeholder="Email...">
                        <br>
                        <br>
                        <input name="senha" type="password" class="input_cadastrar input_cadastrar_senha" placeholder="Senha...">
                        <br>
                        <input type="submit" value="Cadastrar" class="btn_cadastrar">
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock 'body' %}